<form action="/roles/new" method="POST">
  <div class="card border-secondary">
    <div class="card-header">Crear rol</div>
    <div class="card-body">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name" class="col-sm-6 col-form-label">Nombre</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" id="name" name="name" value="{{rol.name}}" autocomplete="off" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="state" class="col-sm-6 col-form-label">Estado</label>
          <div class="col-sm-6">
            <input type="checkbox" id="state" name="state" checked />
          </div>
        </div>
      </div> 

    </div>
    <div class="card-footer">
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Crear</button>
      </div>
    </div>
  </div>
</form>